

.videoStyle {
    max-width: 100%;
    margin: 20px;
}

.h2Description {
    font-size: xx-large;
    display: inline;
}

.pageButton {
    background: #3b5998;
    margin-left: 40px;
    color: #ffffff;
}

.editedVideoButton {
    background: #FFAA00;
    margin-left: 40px;
    color: #FFFF73;
    font-size: 85%;
}

.padding20px {
    padding: 20px
}

.fbInfor {
    display: inline;
    font-size: 12px;
    color: white;
    margin-left: 5px;
    background: lightgrey;
    border-radius: 3px;
    padding: 3px 5px;
}