

.videoStyle {
    max-width: 100%;
    margin: 20px;
}

.h2Description {
    font-size: xx-large;
    display: inline;
}

.pageButton {
    background: #3b5998;
    margin-left: 40px;
    color: #ffffff;
}

.padding20px {
    padding: 20px
}
