.navHeader {
  background-color: #ffffff;
  height: 50px;
  text-align: left;
  padding: 15px 0;
}

.navHeader ul {
    float: right;
    color: #aaa;
}

.navHeader li a {
  /* display: block;
  text-align: center;
  padding: 14px 16px; */
  text-decoration: none;
}

.navHeader li a:hover:not(.active) {
  background-color: #eee;
}


.filterContainer {
  margin: 0 30px;
}

.filterItem{
  box-sizing: border-box;
  color: #ffbb0c;
  border: solid 1px;
  border-radius: 3px;
  padding: 2px;
  margin: 2px;
}

.filterItem a{
  color: #ffbb0c;
}

.active{
  background: #ffbb0c;
}

.active a{
  color: white;
}